# dependencies
node_modules/
.deps-tmp/
.npm-cache/
/*.tgz

# next.js
.next/
out/
tsconfig.tsbuildinfo

# production
build/

# env
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next-dev*.log
output/

# misc
.DS_Store
*.pem
%SystemDrive%/
